/*-------------------------------------------*\
    Generales
\*-------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: #fafafa;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 600px){
    .swiper-button-prev,
    .swiper-button-next{
        height: 100%;
        top: 10px;
        display: flex;
        align-items: center;
    }
  
    .swiper-button-disabled{
        pointer-events: auto !important;
    }
    .contenedor{
        width: 100%;
        max-width: 1366;
    }
}
@media (min-width: 1366px){
    .contenedor{  
        margin: 0 auto;
    }
}
/*-------------------------------------------*\
    Slider principal
\*-------------------------------------------*/
.slider-principal {
    margin-top: 60px;
}
.slider-principal-desktop{
    display: none;
}
.slider-principal .swiper-button-prev,
.slider-principal .swiper-button-next{
    display: none;
}
.slider-principal .swiper-container{
    width: 100%;
    height: 309px;
}
.slider-principal .swiper-slide{
    width: 100%;
   height: auto;
}
    .slider-principal  img{
        height: 309px;
    }
   
   
    .slider-principal  .swiper-pagination-bullet{
        background: #c4c4c4;
    }
    .slider-principal  .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background: #fff;
    }
@media (max-width: 600px){
    .slider-principal .swiper-container .swiper-pagination-bullets{
        bottom: 44%;
        left: 92%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
    } 
    }
   
@media (min-width: 600px){
  
    .slider-principal-desktop{
        display: block;
    }
    .slider-principal-mobile{
        display: none;
    }
    .slider-principal .swiper-container{
        height: auto;
    }
    
    
     .slider-principal .swiper-container .swiper-pagination-bullets{
        bottom: 35px;
       
    } 
}
@media (min-width: 768px){
    .slider-principal {
        padding-top: 2.2rem;
    }
}
/*-------------------------------------------*\
   Buscador por moto
\*-------------------------------------------*/
.buscador-moto{
    width: 90%;
    margin: 0 auto;
    position: relative;
    bottom: 3.5rem;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.buscador-moto-desktop{
    display: none;
}
@media (min-width: 768px){
    .buscador-moto{
        bottom: 2rem;
        
      
    }

    .buscador-moto-mobile{
        display: none;
    }
    .buscador-moto-desktop{
        display: block;
    }

}

/*-------------------------------------------*\
    Ítems refuerzos de confianza
\*-------------------------------------------*/
.items-section{
    margin-top: -4rem;
}

.items-section .swiper-container{
            width: 100%;
            height: 90px;
      
        }
        .items .swiper-slide{
            width: 70%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: 0.5rem 1rem;
        }
        .items .swiper-slide  img{
          width: 21%;
        }

          
            .items .swiper-slide  p{
                        color: #646464;
                        margin-left: 0.8rem;
                        font-size: 3vw;
                        width: 70%;
                   }
            
@media (min-width: 600px){
    .items .swiper-slide  img{
        width: auto;
      }
      .items .swiper-slide  p{
        font-size: 2vw;
        width: auto;
  
    }
    .items .swiper-slide {
        width: 42%;

                   }
                }
@media (min-width: 768px){
    .items-section{
        margin-top: 0;
    }
    .items .swiper-slide{
        width: 24%;
        padding: 1rem;


    }
    .items .swiper-slide  img{
        width: auto;
      }
   
    .items .swiper-slide  p{
        font-size: 0.8vw;
        width: auto;
  
    }
}
/*-------------------------------------------*\
    Carrusel estándar
\*-------------------------------------------*/

.carrusel-productos{
    padding: 2rem 1rem;
    padding-bottom: 3rem;

}
.carrusel-prod .swiper-container{
    width: 90%;
    
  }
  .carrusel-prod .swiper-slide{
    -webkit-box-shadow: 10px 10px 10px 3px rgba(244,244,244,1);
    -moz-box-shadow: 10px 10px 10px 3px rgba(244,244,244,1);
    box-shadow: 10px 10px 10px 3px rgba(244,244,244,1);
  }

   
.carrusel-productos .carrusel-prod h2{
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.05rem;
    text-align: center;
}
.carrusel-prod .swiper-slide{
    width: 190px;
    
  }

@media (min-width: 768px){
    .carrusel-productos{
        padding: 2rem 1rem;
        padding-bottom: 5rem;
    }
    
    .carrusel-productos .carrusel-prod h2{
        padding-left: 4rem; 
        text-align: left;
    }

}
/*-------------------------------------------*\
    Banners-categorías
\*-------------------------------------------*/

.banners-container .box-banner{
  margin-bottom: 1rem;
}
@media (min-width: 600px){
    
.banners-container .box-banner{
    width: 32%;
  }
}


  
/*-------------------------------------------*\
    Banners-promoción
\*-------------------------------------------*/

.banner-promocion-contenedor-desktop{
    display: none;
}
@media (min-width: 600px){
    .banner-promocion-contenedor-desktop{
        display: block;
    }
    .banner-promocion-contenedor-mobile{
        display: none;
    }
}

/*-------------------------------------------*\
    Banners-categorías
\*-------------------------------------------*/
.banners-categorias-section{
    display: flex;
    justify-content: center;
}

@media(min-width: 600px) and (max-width: 768px){
    .banners-container{
        flex-direction: row;
    }
    .banners-container .box-banner{
        width: 30%;
    }
}
/*-------------------------------------------*\
    Carrusel categorías
\*-------------------------------------------*/
.carrusel-categorias{
    margin: 3rem 0;
}
 
    .carrusel-categorias-swiper{
        width: 100%;
        padding: 1rem;
    }

    .carrusel-categorias  .swiper-slide{
        width: 130px;
        height: auto;
        box-shadow: none;
        background-color: transparent;

    }

    .carrusel-categorias .swiper-button-prev,
    .carrusel-categorias .swiper-button-next{
        display: none;
    }
@media (min-width: 600px){
    .carrusel-categorias{
        margin: 4rem 0;
        margin-top: 6rem;
    }
    .carrusel-categorias .swiper-button-prev,
    .carrusel-categorias .swiper-button-next{
        display: block;
    }
    .carrusel-categorias .swiper-button-next:after,
    .carrusel-categorias .swiper-button-prev:after {
        font-size: 25px;
        color: #666666;
    }
}
/*-------------------------------------------*\
    Carrusel multimedia
\*-------------------------------------------*/
.carrusel-multimedia{
    background-color: #f4f4f4;
}
.carrusel-multimedia .swiper-container{
    height: auto;
}
.carrusel-multimedia .swiper-wrapper{
    display: flex;
    align-items: center;
    
 }
.carrusel-multimedia .swiper-slide{
    opacity: 0.5;
   background: transparent;
   height: 300px;
          width: 67%;
            
   
}


.carrusel-multimedia .contenedor-contenido-multimedia{
    width: 100%;
    height: 100%;
}
.carrusel-multimedia iframe{
    width: 100%;
    height: 100%;
    
}
.carrusel-multimedia  .swiper-button-prev,
    .carrusel-multimedia  .swiper-button-next{
        display: flex;
        background-image: none;
    }
    .carrusel-multimedia .swiper-button-next:after,
    .carrusel-multimedia  .swiper-button-prev:after {
        display: block;
       color: #666666;
    }
@media (max-width: 768px){
    .carrusel-multimedia{
        height: 45vh;
        padding: 4rem 0;

    }
    .carrusel-multimedia .swiper-container{
        height: auto;
       
    }
    .carrusel-multimedia .contenedor-contenido-multimedia{
        height: 70%;
    }
    .carrusel-multimedia  .swiper-slide{
        width: 85%;
        box-shadow: none;
        height: 200px;
       
       
    }
    .carrusel-multimedia .swiper-slide.swiper-slide-active{
        transform: scale(1.7, 1.3);
        -webkit-transform: scale(1.7, 1.3);
        -moz-transform: scale(1.7, 1.3);
        -ms-transform: scale(1.7, 1.3);
        -o-transform: scale(1.7, 1.3);
        z-index: 2;
        opacity: 1;
}
 
    .carrusel-multimedia  .swiper-button-prev{
            top: 100%;
            left: 40%;
            height: 10%;
        
    }
    .carrusel-multimedia  .swiper-button-next{
        top: 100%;
        right: 40%;
        height: 10%;

    }
    .carrusel-multimedia  .swiper-button-prev::after,
    .carrusel-multimedia  .swiper-button-next:after{
        font-size: 25px;
    }
}
@media (min-width: 600px){
    .carrusel-multimedia{
        height: 75vh;

    }
}
@media (min-width: 768px){
    .carrusel-multimedia{
        height: 65vh;

    }
 
    .carrusel-multimedia  .swiper-slide.swiper-slide-active{
        transform: scale(1.6, 1.4);
        -webkit-transform: scale(1.6, 1.4);
        -moz-transform: scale(1.6, 1.4);
        -ms-transform: scale(1.6, 1.4);
        -o-transform: scale(1.6, 1.4);
        z-index: 2;
        opacity: 1;
}
.carrusel-multimedia  .swiper-button-prev,
    .carrusel-multimedia  .swiper-button-next{
        top: 20px;
    }
    .carrusel-multimedia  .swiper-button-prev{
        padding-right: 276px;
        margin-left: 10px;

    }
    .carrusel-multimedia  .swiper-button-next{
        padding-left: 276px;
        margin-right: 10px;

    }
  

}   



/*-------------------------------------------*\
    Banners-blog
\*-------------------------------------------*/
.banners-entradas-blog {
    display: flex;
    justify-content: center;
}
.banners-container .box-banner{
  margin-bottom: 1rem;
}


/*-------------------------------------------*\
    Carrusel marcas
\*-------------------------------------------*/
.carrusel-marcas{
    margin: 2rem 0;
}
    .carrusel-marcas-container{
        width: 95%;
        margin: 0 auto;
    }
    .carrusel-marcas-container .swiper-container{
        height: 150px;
    }
   
    .carrusel-marcas .swiper-wrapper .swiper-slide{
        width: 150px;
        height: 130px;
        box-shadow: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .carrusel-marcas .swiper-button-prev,
    .carrusel-marcas .swiper-button-next{
        display: none;
    }
@media(min-width: 768px){
    .carrusel-marcas .swiper-button-prev,
    .carrusel-marcas .swiper-button-next{
        display: block;
    }
    .carrusel-marcas .swiper-button-next:after,
    .carrusel-marcas .swiper-button-prev:after {
        font-size: 25px;
        color: #666666;
    }
    }