
.multicarrusel__titulo-desk{
  display: none;
  margin: 0;
  color: #fff;
 background-color: #323232;
 clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
 font-weight: 600;
 
}
.multicarrusel__titulo-tabs{
  display: flex;
  justify-content: space-between;
  height: 44px;
}
.multicarrusel__titulo-tabs h3{
  margin: 0;
  padding: 1rem;
  color: #fff;
  width:60%;
  background-color: #323232;
  clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;


}
  .multicarrusel-tabs {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }
  .multicarrusel-tabs .multicarrusel-tab {
    background: #EAEAEA;
    border: none;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px 4px 0 0;
}
.multicarrusel-tab img{
width: 29px;
}
.multicarrusel-tab p{
  display: none
}
 
  .multicarrusel-tabs .multicarrusel-tab.multicarrusel-active {
    background: #FF8200;
    outline: none;

  }
  .multicarrusel-content{
  position: relative;
  width: 100%;
  height: 510px;

}
  .multicarrusel-item {
    width: 100%;
    z-index: 1;
    opacity:0;
    position: absolute;
  }
  .multicarrusel-item__container{
    border: 2px solid #494949;
    -webkit-box-shadow: inset 6px 0px 0px -1px rgba(253,121,0,1);
-moz-box-shadow: inset 6px 0px 0px -1px rgba(253,121,0,1);
box-shadow: inset 6px 0px 0px -1px rgba(253,121,0,1);
  }
  .multicarrusel-item__label {
    display: none;
  }
  .multicarrusel-item.multicarrusel-active {
    z-index: 2;
    opacity: 1;
  }
 
.multicarrusel .swiper-slide{
  width: 190px;
}
.swiper-button-next:after, .swiper-button-prev:after{
 display: none;
}
.swiper-button-next{
  background-image: url(https://qamotomercado.vteximg.com.br/arquivos/chevron_right.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev{
  background-image: url(https://qamotomercado.vteximg.com.br/arquivos/chevron_left.svg);
  background-position: center;
  background-repeat: no-repeat;
}



@media (min-width: 600px){

.multicarrusel__titulo-tabs{
 height: 220px;
}
  .multicarrusel__titulo-tabs h3{
   display: none;
  
  }
  .multicarrusel__titulo-desk{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 5.5rem;
    text-align: center;
    font-size: 0.9rem;
    height: 40px;
  }
  .multicarrusel__container{
    display: flex;
    flex-wrap: wrap;
  }
  .multicarrusel__titulo-tabs{
    width: 13%;

  }
  .multicarrusel-tabs{
    flex-direction: column;
    width: 100%;
    height: 220px;
  }
  .multicarrusel-tabs .multicarrusel-tab{
    width: 100%;
    height: 33%;
    border-radius: 4px 0 0 4px;
  margin-bottom: 0.3rem;
  }
  .multicarrusel-tab img{
    width: 43px;
  }
  .multicarrusel.kit-moto .multicarrusel-tab img{
    width: 63px;
  }
  .multicarrusel-tab p{
    display: block;
    font-size: 9px;
    font-weight: 600;
  }
  .multicarrusel-content{
    width: 85%;
    height: 430px;
  
  }
   
}
@media (min-width: 800px){
  .multicarrusel__titulo-tabs{
    width: 7%;

  }
  .multicarrusel__titulo-desk{
    font-size: 1.1rem;
  }
  .multicarrusel-content{
    width: 92%;
    height: 400px;
  
  }
}
/*-------------------------------------------*\
 Flechas abajo en carruseles
\*-------------------------------------------*/

@media (max-width: 400px){
  .carrusel-prod .swiper-container {
    padding-bottom: 5rem;
    margin-bottom: -1rem;
}
.swiper-button-next, .swiper-button-prev{
  top: 91%;
}

.swiper-button-next{
  right: 40%;
}
.swiper-button-prev{
  left: 40%;
}

}
@media (max-width: 600px){

.swiper-button-next, .swiper-button-prev{
  top: 95%;
  height: 10%;
}
.swiper-button-next{
  right: 40%;
}
.swiper-button-prev{
  left: 40%;
}
.carrusel-prod .swiper-container{
  padding-bottom: 3rem;
}


}