/*-------------------------------------------*\
    Estos estilos tienen que estar en all.css
\*-------------------------------------------*/

body > .page{
    background-color: #fafafa;
    margin-top: 60px;
}

.container {
    max-width: 1600px !important;
    margin: 0px auto;
}

.row{
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Version Mobile Horizontal */
@media (min-width: 640px) {

    .container {
        max-width: 100%;
    }

    .row{
        padding-left: 2%;
        padding-right: 2%;
    }

}

/* Version Tablet */
@media (min-width: 768px) {

    .row{
        padding-left: 5%;
        padding-right: 5%;
    }

}

/* Version Laptop */
@media (min-width: 1024px) {

    body > .page{
        margin-top: 95px;
    }

}

/*-------------------------------------------*\
    Ban Principal
\*-------------------------------------------*/

.ban__desk{
    display: none;
}

/* Version Mobile Horizontal */
@media (min-width: 640px) {
    
    .ban__desk{
        display: block;
    }
    .ban__mobile{
        display: none;
    }

}

/*-------------------------------------------*\
    Bread Crumb
\*-------------------------------------------*/

.bread-crumb > ul {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 0;
}
    .bread-crumb li {
        text-transform: uppercase;
        padding-right: .5rem;
        padding-bottom: .5rem;
        display: flex;
        align-items: center;
    }
    .bread-crumb li:after {
        content: '/';
        padding-left: .5rem;
    }

    .bread-crumb li:first-child a {
        font-size: 0;
        display: flex;
        align-items: center;
    }
    .bread-crumb li:first-child a:after{
        content: '';
        
        display: block;
        width: 26px;
        height: 13px;

        background-image: url(/arquivos/icon-home.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

        .bread-crumb .busca-texto-livre-elimina{
            display: none;
        }


/*-------------------------------------------*\
    Vitrinas
\*-------------------------------------------*/

.searchResultsTime,
.sub,
.pager,
.pages .first,
.pages .pgEmpty,
.pages .last{
    display: none;
}

.vitrines .prateleira{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .vitrines .prateleira > ul{
        border: 1px solid #C4C4C4;
        width: 48%;
        margin-bottom: 1rem;
    }


/* Version Mobile Horizontal */
@media (min-width: 640px) {

    .vitrines .prateleira > ul{
        width: 30%;
    }

}


/* Version Laptop */
@media (min-width: 1024px) {

    .article {
        width: 70%;
    }
        .vitrines .prateleira > ul{
            width: 23%;
        }

}

/*-------------------------------------------*\
    Filtros
\*-------------------------------------------*/

.filtros-vtex{
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
}

/* Version Laptop */
@media (min-width: 1024px) {

    .filtros-vtex{
        position: relative;
        bottom: 0;
        transform: translateY(0);
        width: 25%;
    }

}

/*-------------------------------------------*\
    Ordenar Por
\*-------------------------------------------*/

.ordenar{
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
}

/* Version Laptop */
@media (min-width: 1024px) {

    .ordenar{
        position: relative;
        bottom: 0;
        transform: translateY(0);
        margin-bottom: 2rem;
    }
        .ordenar__list{
            display: flex;
            justify-content: space-between;
        }
            .ordenar__titulo{
                color: #323232;
            }
            .ordenar__item{
                width: auto;
                height: auto;
                color: #757575;
            }

}

/*-------------------------------------------*\
    Buscador por Moto
\*-------------------------------------------*/

.buscador-por-moto{
    margin-bottom: 1.5rem;
}
    .buscador-por-moto .desk{
        display: none;
    }

/* Version Mobile Horizontal */
@media (min-width: 640px) {
    
    .buscador-por-moto .mobile{
        display: none;
    }
    .buscador-por-moto .desk{
        display: block;
    }

}
