@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#product-content {
    padding-top: 70px;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

/* migas */

#box-bread-brumb ul {
    display: flex;
    padding: 10px;
}

#box-bread-brumb a {
    color: #000000;
    font-size: 12px;
}

#box-bread-brumb li:not(.last):after {
    content: "/";
    color: #3f3f3f;
    padding: 0 5px;
}

/* migas fin */

/* nombre producto */

.fn.productName {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0em;
}

/* codigosku */

.codigo-produto {
    color: #5A5A5A;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
}

/* envio domicilio */

.icono-camion, .icono-sucursal {
    margin-top: 4%;
}

/* agregar carrito */

.product-info .agregar-al-carrito {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.product-info .select-quantity {
    display: flex;
    justify-content: center;
    width: 45%;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.linea-carrito-valor {
    color: #FD7900 !important;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFD7B3;
    ;
    color: #FD7900;
}

.product-info .select-quantity .value-button {
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-info .select-quantity input {
    width: 30%;
    border: navajowhite;
    text-align: center;
}

.product-info .select-quantity input[type=number]::-webkit-inner-spin-button, .product-info .select-quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-info .btn-agregar-al-carrito {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}

.product-info .btn-agregar-al-carrito p {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
}

.select-quantity {
    background-color: #FD7900;
    margin-left: 5%;
    margin-right: 2%;
}

.product-info .btn-agregar-al-carrito.ok {
    background-color: #3CD089;
}

.product-info .btn-agregar-al-carrito.error {
    background-color: #D8224F;
}

.product-info .btn-agregar-al-carrito .spinner {
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 4px solid transparent;
    border-top: 4px solid white;
    border-radius: 100%;
    animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media(min-width:1024px) {
    .product-info .agregar-al-carrito {
        margin-top: 40px;
        margin-bottom: -30px;
        position: relative;
        height: 60px !important;
        box-shadow: none;
        overflow: hidden;
    }
}

/* agregar carrito FIN */

/* .gallery-prod {
    border: 1px solid #DEDEDE;
    border-radius: 20px;
    padding-bottom: 40px;
} */

/* promociones */

.promociones {
    border: 1px solid #d8d7d7;
}

/* descuento carousel */

.valor-desc2 {
    background-color: #FBED21;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    z-index: 1000;
    left: 15px;
    bottom: 40px;
    padding: 10px 15px;
    border-radius: 50px 50px 50px 0px;
}

/*-------------------------------------------*\
    PRECIO
\*-------------------------------------------*/

.descricao-preco {
    display: grid;
    grid-template-columns: 35% 65%;
}

.price-box .descricao-preco {
    font-size: 0px;
    padding-top: 5%;
}

.price-box .descricao-preco .skuListPrice {
    margin-left: 10%;
    font-size: 26px;
    line-height: 50px;
    font-style: italic !important;
    font-weight: 300;
    text-decoration: line-through;
    color: #646464;
    font-style: initial;
}

.price-box .descricao-preco .skuBestPrice {
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

.price-box .descricao-preco .price-installments {
    order: 2;
    display: block !important;
    width: 100%;
    padding-top: 10px;
}

.price-box .descricao-preco .skuBestInstallmentNumber {
    font-size: 15px;
    font-weight: 400;
    line-height: 2px;
    font-style: initial;
    color: #0F64A8;
    font-weight: normal;
}

.price-box .descricao-preco .skuBestInstallmentNumber:before {
    content: 'o ';
}

.price-box .descricao-preco .skuBestInstallmentNumber:after {
    content: ' cuotas sin interés';
}

.price-box .descricao-preco .valor-desc .skuPerc {
    margin-left: 30%;
    order: 3;
    background-color: #FBED21;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    padding: 3px;
    padding-right: 15px;
    border-radius: 0 100% 100% 0;
}

.price-box .economia-de, .price-box .preco-a-vista, .price-box .descricao-preco .skuBestInstallmentNumber .x {
    display: none !important;
}

/* fin precio */

.gallery-prod .swiper-slide {
    padding: 15px;
}

.gallery-prod .swiper-button-next, .gallery-prod .swiper-button-prev {
    bottom: 5px;
    top: auto;
    color: #C4C4C4;
    /* border: 1px solid; */
    width: 40px;
}

.gallery-prod .swiper-button-next:after, .gallery-prod .swiper-button-prev:after {
    font-size: 16px;
}

.gallery-prod .swiper-button-prev {
    right: 60px;
    left: auto;
}

.gallery-prod .cant-fotos {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

/* .gallery-thumbs{
    margin-top: 20px;
} */

.gallery-thumbs .swiper-slide {
    padding: 5px;
    display: flex;
    align-items: center;
}

.gallery-thumbs .swiper-slide-thumb-active {
    border: 1px solid #C4C4C4;
}

/* @media (max-width:768px){
    
    .gallery-thumbs .swiper-slide{
        height: auto !important;
    }
}
*/

@media (min-width:1024px) {
    .principal .product-image {
        order: 1;
        display: flex;
        width: 100%;
    }
    .gallery-prod {
        order: 1;
        width: 70%;
        height: 500px;
    }
    .gallery-thumbs {
        order: 0;
        width: 20%;
        margin: 0;
        height: 500px;
    }
    .gallery-thumbs .swiper-slide {
        padding: 10px;
        align-items: initial;
    }
}

/* .swiper-pagination {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    left: auto !important;
    right: 8px;
    opacity: 1;
    top: 0;
} */

/* calificacion */

.estrellas #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

.estrellas #form p {
    text-align: center;
}

.estrellas #form label {
    font-size: 20px;
}

.estrellas input[type="radio"] {
    display: none;
}

.estrellas label {
    color: grey;
    font-size: 25px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.estrellas label:hover, .estrellas label:hover~label {
    color: #FFC107;
}

.estrellas input[type="radio"]:checked~label {
    color: #FFC107;
}

/* fin calificacion */

.descripcion, .descubri-mas, .opinion-consumidores {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.linea {
    border-bottom: solid 4px #DA0700;
    padding-bottom: 6px;
}

.caracteristicas {
    border: solid 1px #aaaaaa;
    border-radius: 5px;
}

.product-info {
    border: solid 1px #aaaaaa;
}

.ayuda-b {
    border: 1px solid #494949;
    border-radius: 7px;
}

.titulo-1 {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #333333;
}

.parrafo-1 {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.descrubi-mas, .comentarios, .compra-slider{
    margin-bottom: 7%;
}

.slider-mas{
    margin-top: 5% !important;
    margin-bottom: 2%;
}

.mastercard-cuotas{
    border-right: solid 1px #cacaca;
}





/* margenes */

/* margenes */

.title-descripcion{
    margin-top: 9%;
}

.ayuda-b{
    margin-top: 2%;
    margin-bottom: 8%;
}

.img-description{
    margin-top: 4%;
    margin-bottom: 2%;
}

.text-excelente{
    margin-bottom: 5%;
}


