/* FUNCION SCROLL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@font-face {
  font-family: "Montserrat-Bold";
  src: url("https://qamotomercado.myvtex.com/arquivos/Montserrat-Bold.css");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("https://qamotomercado.myvtex.com/arquivos/Montserrat-SemiBold.css");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("https://qamotomercado.myvtex.com/arquivos/Montserrat-Medium.css");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("https://qamotomercado.myvtex.com/arquivos/Montserrat-Regular.css");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("https://qamotomercado.myvtex.com/arquivos/Montserrat-Light.css");
}



body {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

header ul {
  margin-top: 0;
  margin-bottom: 0px;
}

header a {
  color: black;
}

header a:hover {
  color: black;
  text-decoration: none;
}

body.scroll-down header {
  transform: translate3d(0, -500%, 0);
  transition: all 1s ease-in-out;
}

body.scroll-down header.block {
  transform: translate3d(0, 0%, 0);
}

body.scroll-up header {
  transform: translate3d(0, 0%, 0);
  transition: all .7s ease-in-out;
}

.no_scroll {
  overflow: hidden;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.4s;
  background: linear-gradient(to right, #fff, #444);
  box-shadow: 2px 1px 12px #00000059;
  height: 60px;
}

.bg__headerTop {
 display: none;
}

.header-navbar {
  height: 60px;
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.header-navbar__item {
  margin: 0 20px;
}

.header-navbar__icons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin-left: 10px;
}

.header-navbar__icons-item {}

.header-navbar__brand {
  width: 100px;
  margin-left: -10px;
}

.header-navbar__container {
  background-color: white;
    margin-left: 10px;
    color: black;
    padding-left: 10px;
    transform: skewX(-20deg);
    margin-right: -50px;
    padding-right: 75px;
}

.header-navbar__icons-item-search {
  transform: skewX(20deg);
  height: 60px;
  font-size: 0.7rem;
}

.header-navbar__icons-item-search svg {
  float: left;
  margin-right: 5px;
}

.header-navbar__icons-item.fort {
  position: absolute;
  right: 0;
  padding-top: 20px;
  padding-left: 7px;
  background-color: #535353;
  width: 60px;
  height: 60px;
}

.header-navbar__icon_shopcar {
  margin-left: 8px;
}

.shopcar__cant {
  background-color: #FD7900;
  color: white;
  text-align: center;
  border-radius: 25px;
  width: 15px;
  font-size: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 18px;
}

/* ESTILOS BUSCADOR */

.header-navbar__header-search {
  z-index: 9;
  transition: all .4s ease-in-out;
  transform: translateY(-220%);
  opacity: 0;
  color: black;
  position: absolute;
  background-color: #ffffffab;
  border-radius: 6px;
  box-shadow: 1px 4px 10px 0 #0000002b;
}

.header-navbar__header-search.show {
  transform: translateY(0%);
  opacity: 100;
}

button.header-navbar__header-search-close {
  color: white;
  background-color: red;
  padding: 6px;
  float: right;
  margin-right: 20px;
  position: relative;
  margin-top: -60px
}

.header-navbar__header-search legend, .header-navbar__header-search label, .header-navbar__header-search select, .header-navbar__header-search .btn-buscar {
  display: none;
}

.header-navbar__header-search .fulltext-search-box {
  text-align: center;
  width: 100vw;
  font-size: 1.5em;
  font-style: italic;
  background-color: white;
  padding: 7px;
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all.show {
  display: grid !important;
  grid-template-columns: 1fr;
  box-shadow: 0px 2px 10px 2px #00000033;
  padding-top: 40px;
  width: 100% !important;
}

.ui-autocomplete.ui-menu {
  width: 100% !important;
  box-shadow: none;
  height: auto;
  padding: 0 5%;
  border-radius: 0;
  border: none;
  color: black;
  background-color: white;
  z-index: 999 !important;
}

.ui-autocomplete.ui-menu img {
  width: 60px;
  float: left;
  margin-right: 20px;
  margin-top: -15px
}

.ui-autocomplete.ui-menu .ui-menu-item a {
  width: 100%;
  margin-bottom: 50px;
  display: block;
  font-size: 1.5em;
  cursor: pointer;
}

.bg__shadow-search {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  height: 120vh;
  width: 120vw;
  background-color: #000;
  transform: translate3d(200%, 200%, 10px);
  transition: all .4s ease-in-out;
  opacity: 0;
}

.bg__shadow-search.show {
  background-color: #000;
  transform: translate3d(-10%, -10%, 10px);
  opacity: 40%;
}

.header__search-close {
  position: absolute;
  top: 5px;
  padding: 18px;
}

/* ESTILOS NAV */

.header-navbar__menu-icon {
  padding: 15px
}

.header-navbar__menu .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
  font-size: 25px;
}

.header-navbar__menu {
  display: block;
  font-size: 0.7em;
}

.header-top {
  display: none;
}

.header-navbar__menu {
  display: block;
  position: absolute;
  width: 85%;
  height: 100vh;
  top: 0px;
  left: 0px;
  padding-top: 25px;
  background-color: white;
  color: black;
  box-shadow: 1px 3px 12px #00000057;
  transform: translateX(-200%);
  opacity: 0%;
  transition: all 0.5s ease-in-out;
}

.header-navbar__menu.show {
  height: 100vh;
  transform: translateX(0%);
  opacity: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.header-navbar__item, .header-navbar__account, .header-navbar__secondary {
  display: block;
  padding-bottom: 7px;
  margin-bottom: 19px;
  font-size: 1.6em;
  font-weight: bold;
}

.header-navbar__telephone {
  background: linear-gradient(to right, #fff, #333);
  color: white;
  padding: 20px 5px;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: -25px;
  height: 60px;
  margin-right: -20px;
}

.header-navbar__telephone svg {
  float: left;
  margin-right: 10px;
}

.header-navbar__item svg {
  float: left;
  margin-right: 15px;
  margin-top: -3px
}

.header-navbar__icons-item.hidemb {
  display: none;
}

.header-navbar__account, .header-navbar__secondary {
  margin-bottom: 30px;
}

.header-navbar__account, .header-navbar__menu-tittle, .header-navbar__secondary {
  padding: 0 20px;
}

.header-navbar__menu-tittle {
  margin-bottom: 20px;
  display: block;
  color: red;
  font-size: 1.2em;
}

.header-navbar__account-tittle {
  margin-bottom: 20px;
  display: block;
  color: red;
  font-size: 0.8em;
  font-weight: 400;
}

.header-navbar__account-item, .header-navbar__secondary-item {
  display: block;
  margin-bottom: 13px;
  font-weight: bold;
}

.header-navbar__secondary {
  margin-top: 40px;
}

.header-navbar-submenu__item-all {
  position: absolute;
  top: 65px;
  color: red;
  margin-left: 20px;
}

.header-navbar-submenu__item {
  margin-bottom: 20px;
  font-weight: 100;
}

.header-navbar__container-one .header-navbar-submenu__item,
.header-navbar__container-three .header-navbar-submenu__item {
  font-weight: bold;
}

.header-navbar-submenu__item img {
  width: 110px;
  margin: auto;
}

.header-navbar__menutercernivel {
  padding: 20px 10px 1px 20px;
  margin-top: 3px;
  box-shadow: 0px 5px 10px #00000026;
}

.header-navbar-submenu__item-tittle {
  font-size: 1.2em;
  font-weight: bold;
}

.header-navbar-submenu__item-tittle svg {
  float: right;
  margin-top: 5px;
  margin-right: 25px;
}

.header-navbar__submenu.two .header-navbar-submenu__item, .header-navbar__submenu.four .header-navbar-submenu__item,
.header-navbar__submenu.five .header-navbar-submenu__item, .header-navbar__submenu.six .header-navbar-submenu__item {
  text-align: left;
  padding-bottom: 7px;
}

.header-navbar__boxs {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5;
}

.header-navbar__boxs img {
  margin-bottom: 25px;
}

.bg__shadow {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #0000007d;
  z-index: 998;
  transform: translateX(-200%);
  opacity: 0%;
  transition: all 0.5s ease-in-out;
}

.bg__shadow.show {
  transform: translateX(0%);
  opacity: 100%;
  transition: all 0.65s ease-in-out;
}

.button__closed {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15%;
  background-color: black;
  padding: 20px 16px;
  height: 60px;
  transform: translateX(150%);
  transition: all 0.85s ease-in-out;
}

.button__closed.show {
  transform: translateX(0%);
  transition: all 0.85s ease-in-out;
}

.header-navbar__container-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  text-align: center;

}

.header-navbar__container-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  text-align: center;

}

.header-navbar__imgcat {
  margin-bottom: 25px;
}

@media (min-width: 768px) {

  header {
    height: 100px;
  }

  .bg__headerTop {
    display: block;
    background-color: #dedede;
    height: 35px;
    margin-bottom: 15px;
}
  .header-navbar {
    height: 45px;
  }
  .scroll-up .header-navbar {
    top: 0;
    transform: translate3d(0, 0%, 0);
    transition: all .7s ease-in-out;
  }
  .header-navbar__header-search.show {
    transform: translateY(-120%);
    width: 100vw;
  }
  .header-top {
    height: 45px;
    display: flex;
    max-width: 1600px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    color: #000;
  }
  .header-top__menu {
    display: flex;
    justify-content: space-evenly;
  }
  .header-top__item {
    margin: 0 10px;
  }
  .header-top svg {
    float: left;
    margin-right: 10px;
  }
  .header-top__telephone {
    width: 20%;
    padding-bottom: 6px;
  }
  .header-top__bg-diag {
    background-color: #DEDEDE;
    padding: 5px;
    transform: skewX(-45deg);
    margin-left: -50px;
    padding-left: 75px;
    margin-top: -20px;
    padding-top: 25px;
    margin-right: -20px;
    height: 52px;
  }
  .header-top__bg-diag-clear {
    transform: skewX(45deg);
  }
  .header-top__searchbox {
    width: 40%;
    background: linear-gradient(to right, #dedede, #999);
    height: 40px;
    margin-top: -22px;
  }
  .header-top__bg-diag-search {
    background-color: white;
    padding: 7px 45px;
    margin-top: 14px;
    transition: all 1s ease-in-out;
    margin-right: -5px;
    margin-left: -5px;
  }
  .header-top__bg-diag-search:hover {
    box-shadow: 0 2px 15px #0000004f;
    transition: all 1s ease-in-out;
  }
  .header-navbar__item, .header-navbar__account, .header-navbar__secondary {
    font-size: 1.4em;
  }

  .header-navbar__container {
    display: none;
}

  .header-navbar__icons-item.fort {
    position: relative;
    padding: 0px;
    background-color: transparent;
    width: 0px;
    height: 0px;
    top: 22px;
}

  .header-top__bd-diag-menu {
    background-color: #DEDEDE;
    padding: 5px 15px;
    transform: skewX(45deg);
    width: 42%;
    margin-top: -20px;
    padding-top: 21px;
    margin-left: -20px;
    border-left: solid #999999 10px;
  }
  .header-top__bd-diag-menu-clear {
    transform: skewX(-45deg);
  }
  .header-navbar__brand {
    width: 115px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .header-navbar__menu-icon, .header-navbar__icons-item-search, .header-top__searchbox legend, .header-top__searchbox label, .header-top__searchbox select, .bg__shadow svg, .header__search-close {
    display: none;
  }
  .header-navbar {
    padding: 0 25px;
    max-width: 1600px;
    margin: auto;
  }
  .header-navbar__menu {
    display: flex;
    position: relative;
    margin-left: 25px;
    top: 0px;
    left: 0px;
    padding-top: 0px;
    background-color: transparent;
    transform: translateX(0%);
    opacity: 100%;
    transition: all 1s ease-in-out;
    box-shadow: none;
    height: auto;
  }
  .header-navbar__item {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    color: black;
    font-weight: 600;
    height: 44px;
    padding: 5px 0px;
    transition: all .3s ease-in-out;
    border-bottom: rgba(255, 0, 0, 0) solid 5px;
    text-transform: uppercase;
  }
  .header-navbar__item:hover {
    border-bottom: red solid 5px;
    transition: all .6s ease-in-out;
    cursor: pointer;
  }
  .header-navbar__items {
    display: flex;
    margin-top: 5px;
  }
  .header-navbar__submenu {
    color: black;
    background-color: white;
    padding: 20px;
    box-sizing: content-box;
    width: 100%;
    transform: translateX(200%);
    opacity: 0%;
    transition: all .3s ease-in-out;
    position: absolute;
    left: 0;
    box-shadow: 0px 5px 7px #0000003b;
    text-transform: none;
  }
  .header-navbar-submenu__item-tittle svg {
    display: none;
  }
  .header-navbar__item:hover>.header-navbar__submenu {
    position: absolute;
    left: 50%;
    width: 100vw;
    transform: translate(-53%);
    opacity: 100%;
    transition-property: transform, opacity;
    transition-duration: .1s, .5s;
    border-top: 3px solid #FF3D00;
    margin-top: 20px;
    cursor: default;
    padding-top: 75px;
    max-height: 385px;
    overflow-y: auto;
  }
  .header-navbar-submenu__item {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .header-navbar-submenu__item-all {
    top: 35px;
    color: #666;
    font-style: italic;
    max-width: 1200px;
    margin: auto;
  }
  .header-navbar__item svg, .header-navbar__account, .header-navbar__menu-tittle, .header-navbar__secondary {
    display: none;
  }
  .header-navbar__icons-item.hidemb {
    display: block;
    margin-right: 25px;
  }
  .header-navbar__header-search {
    width: 98%;
  }
  .ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all.show {
    grid-template-columns: 1fr 1fr;
    width: 98% !important;
  }
  .header-navbar__submenu-cat-one, .header-navbar__submenu-cat-two, .header-navbar__submenu-cat-three, .header-navbar__submenu-cat-four, .header-navbar__submenu-cat-five, .header-navbar__submenu-cat-six {
    display: none;
  }
  .header-navbar__container-one {
    grid-template-columns: repeat(6, 1fr);
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .header-navbar__container-two, .header-navbar__container-four, .header-navbar__container-five, .header-navbar__container-six {
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 80%;
    margin: 0 auto;
    grid-gap: 25px;
  }
  .header-navbar__container-three {
    grid-template-columns: repeat(5, 1fr);
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .header-navbar__container-four {
    grid-template-columns: 2fr 4fr;
  }

  .header-navbar__container-col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .header-navbar-submenu__item img {
    width: 150px;
  }
  .header-navbar__menutercernivel {
    padding: 0px 20px;
    margin-top: 10px;
    box-shadow: none;
  }
  .header-navbar__submenu.two .header-navbar-submenu__item {
    text-align: left;
    border-bottom: none;
    padding-bottom: 1px;
  }
  .header-navbar__menutercernivel {
    display: block !important;
  }

  .header-navbar__icons {
    margin-top: -15px;
    padding-right: 25px;
}

  .header-navbar__icon_shopcar {
    margin-top: -22px;
}
}

@media (max-width: 768px) {
  .header-navbar__header-search .fulltext-search-box {
    height: 60px;
  }
  .header-navbar__menu {
    overflow: scroll;
    height: 90vh;
  }
  .header-navbar-submenu__item-all a {
    color: red;
}
  .header-navbar__submenu.one, .header-navbar__submenu.two, .header-navbar__submenu.three, .header-navbar__submenu.four, .header-navbar__submenu.five, .header-navbar__submenu.six {
    transform: translateX(-150%);
    opacity: 0%;
    transition: all 0.5s ease-in-out;
    position: fixed;
    display: grid;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    top: 0;
    height: 100%;
    padding-top: 100px;
    overflow: scroll;
  }
  .header-navbar__submenu.two {
    grid-template-columns: 1fr;
  }
  .header-navbar__submenu.two {
    grid-template-columns: 1fr;
  }
  .header-navbar__submenu-cat-one, .header-navbar__submenu-cat-two, .header-navbar__submenu-cat-three, .header-navbar__submenu-cat-four, .header-navbar__submenu-cat-five, .header-navbar__submenu-cat-six {
    transform: translateX(-150%);
    opacity: 0%;
    transition: all 0.95s ease-in-out;
    position: fixed;
    display: block;
    margin-top: -25px;
  }
  .header-navbar__submenu-cat-one.show, .header-navbar__submenu-cat-two.show, .header-navbar__submenu-cat-three.show, .header-navbar__submenu-cat-four.show, .header-navbar__submenu-cat-five.show, .header-navbar__submenu-cat-six.show {
    transform: translateX(0%);
    opacity: 100%;
    transition: all 0.95s ease-in-out;
    background-color: white;
  }
  .header-navbar__submenu-cat-one svg, .header-navbar__submenu-cat-two svg, .header-navbar__submenu-cat-three svg, .header-navbar__submenu-cat-four svg, .header-navbar__submenu-cat-five svg, .header-navbar__submenu-cat-six svg {
    float: left;
    margin-top: 5px;
  }
  .header-navbar__submenu.one.show, .header-navbar__submenu.two.show, .header-navbar__submenu.three.show, .header-navbar__submenu.four.show, .header-navbar__submenu.five.show, .header-navbar__submenu.six.show {
    transform: translateX(-5%);
    opacity: 100%;
    transition: all 0.5s ease-in-out;
  }
  .header-navbar__submenu-cat-one, .header-navbar__submenu-cat-two, .header-navbar__submenu-cat-three, .header-navbar__submenu-cat-four, .header-navbar__submenu-cat-five, .header-navbar__submenu-cat-six {
    width: 100%;
    position: absolute;
    padding: 15px;
    font-weight: 800;
    z-index: 99;
    font-size: 1.75em;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .close-menu {
    display: none;
  }
  .close-menu.show {
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 0;
    font-size: 2em;
    cursor: pointer;
    background-color: black;
    padding: 7px;
    color: white;
  }
  .header-navbar__container-two .header-navbar__container-four, .header-navbar__container-five, .header-navbar__container-six {
    display: block;
  }
  .header-navbar__boxs {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

.header-navbar-submenu__vermas a {
  color: red;
  display: block;
  font-style: italic;
}

.header_navbar-submenu__oculto, .header-navbar-submenu__vermenos {
  display: none;
}

.header_navbar-submenu__oculto.show, .header-navbar-submenu__vermenos.show {
  display: block;
}