.footer{
    width: 100%;
    background-color: #EEE;
    color: #494949;
    font-weight: 400;
}
.footer__contenedor{
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 2rem;
}
    .footer__col.contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer__col.contacto .social{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.footer__col.contacto .social svg{
    width: 23%;
}
.footer__col.contacto .direccion{
    color: #494949;
    line-height: 1.5;
}
.footer__col-contenedor{
    display: flex;
    flex-direction: column;
}
.footer__col{
    margin-top: 3rem;
}
.footer__col .titulo{
    font-weight: 600;
    font-size: 23px;
    margin: 1rem 0;
    color: #494949;
}
.footer__col ul{
    list-style: none;
    padding: 0;
    line-height: 2;
}

.footer__colul li.ver-mas a{
    font-weight: 600;
}
.footer__col ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #646464;

}
footer ul li.ver-mas a{
    font-weight: 600;
}
.footer__bottom{
    padding: 1.5rem 1rem;
    border-top: 3px solid #FAFAFA;
    

}
.footer__bottom p{
    display: none;
}
.footer__bottom .logos{
    display: flex;
    justify-content: space-between;
}
<<<<<<< HEAD
.footer__bottom .logos .logo:nth-child(1){
    display: none;
    
}

=======
>>>>>>> footer
@media (min-width: 765px){
    .footer__contenedor{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
   
    .footer__col{
        width: 25%;
        margin-right: 2rem;
    }
    .footer__col.contacto{
<<<<<<< HEAD
        width: 22%;
=======
        width: 25%;
>>>>>>> footer
    }
    .footer__col .titulo{
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .footer__col-contenedor{
        width: 70%;
        flex-direction: row;
        justify-content: space-around;
    }
   
    .footer__bottom{
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__bottom p{
        display: block;
    }
    .footer__bottom .logos {
        width: 35%;
        padding-right: 1rem;

}
}