#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($nameProduct = $product.Name)

<span class="vitrina" id="product-$id">

    <a href="$uri" title="$escapedName">

        <span class="banderas">
            $product.DiscountHightLight
            $product.HightLight
           <span class="percents-content" style="display:none">
            $product.ListPriceMinusBestPriceInPercent
            </span>
        </span>

        <span class="product-image">
            $product.GetImageTag(2)
        </span>

    </a>

    <span class="product-info">

        <a href="$uri" title="$escapedName">

            <span class="product-name">
                $product.Name
            </span>
            <span class="product_codigo">
                Sku: $product.Id
            </span>

        </a>

        <span class="montos">
        
            #if($product.IsInStock)
                #if ($product.HasBestPrice)
                <span class="product-old-price">
                    $product.ListPrice
                </span>
                #end
                <span class="product-best-price color-verde1">
                    <strong>$product.BestPrice</strong>
                </span>
            #else
                <span class="product-best-price color-verde1">
                    <strong style="opacity: 0;">-</strong>
                </span>
            #end

        </span>

        <span class="comprar">
            <a href="$uri">
                <btn class="comprar">
                    #if($product.IsInStock)
                        COMPRAR
                    #else
                        COTIZAR
                    #end
                </btn>
            </a>
        </span>

    </span>

</span>